<ul class="list-group">
  <% @list.bookmarks.each do |list| %>
    <li class="list-group-item"><%= list.name %></li>
  <% end %>
</ul>

 <li class="list-group-item">
      <%= list.name %>
      <%= link_to "Delete",
                  list_path(list),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    </li>
